@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .page {
    @apply w-full h-screen;
  }
  .body-tag {
    @apply hidden lg:block text-[2.5rem] lg:text-[3rem] text-gray-600;
  }
  .h1-tag {
    @apply hidden lg:block text-[2.5rem] lg:text-[3rem] text-gray-600;
  }
  .nav-icon-style {
    @apply h-[3rem] lg:h-[1.8rem] w-[3rem] lg:w-[1.8rem];
  }
}

html,
body {
  font-size: 10px;
  background-color: rgb(17, 24, 39);
}

.name-gradient {
  background: linear-gradient(to right, #77cadd, #00cdfb);
  -webkit-background-clip: text; /* For Safari/WebKit based browsers */
  background-clip: text;
  color: transparent;
}
.web-dev-gradient {
  background: linear-gradient(to right, rgb(253, 66, 98), rgb(255, 175, 62));
  -webkit-background-clip: text; /* For Safari/WebKit based browsers */
  background-clip: text;
  color: transparent;
}
